*{
    font-family:"sen",sans-serif;
    font-weight: 100;
}
body{
    background: radial-gradient(circle,#fff,#bbb);
    padding:15px;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-auto-rows:100px;
    grid-gap:10px;

}
img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.5;
}
img:first-child{
    grid-column:1/3;
    grid-row:1/3;
}
img:nth-child(6){
    grid-column:2/4;
    grid-row:3/5;
}
img:nth-child(7){

    grid-row: span 3;
}
img:nth-child(18){
    grid-column:span 2 ;

}/*
img:nth-child(6){
    grid-column:2/4;
    grid-row:3/5;
}*/ img:hover{
    margin:auto;
    transition:.3s;
    transform:scale(1.2);
    opacity:1;
}